.instruction {
  position: absolute;
  overflow: hidden;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(16px);
  z-index: 9;
  color: white;
  font-size: 16px;
}

.instruction h2 {
  font-size: 22px;
  font-weight: 900;
}

.instruction .instruction__images {
  display: flex;
  gap: 16px;
  padding: 50px 0 70px 0;
}

.instruction .instruction__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction .instruction__image:first-child .instruction__image-title {
  padding-right: 50px;
}

.instruction .instruction__image-title {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
  width: min-content;
  white-space: pre;
}

.instruction .instruction__image img {
  width: auto;
  height: 200px;
}
